.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  background-color: red ;
}
.nav-bar {
  background-color: black;
  color: white;
}
.search-bar {
  background-color: green;
}
.browse-cards-container {
  background-color: black;
  color: white;
  min-height: 290px;
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  overflow: auto;
}
.showcase-container {
  background-color: black;
  color: white;
  /* min-height: 450px; */
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  overflow: auto;
  white-space: nowrap;
}

.preview-card {
  background-color: grey;
  width: 276px;
  height: 250px;
  color: white;
  margin: 20px;
  border-radius: 7px;
  float: left;
}

.showcase-card {
  background-color: grey;
  width: 910px;
  height: 410px;
  color: white;
  margin: 20px;
  border-radius: 7px;
  float: left;
}

ul {
  list-style-type: none;
}
